h1 {
    color: #5B452B;
    margin: 15pt 5pt 10pt 5pt;
    font-size: 14pt;
    font-family: "Gill Sans Nova", sans-serif;
}

p {
    color: #5B452B;
    margin: 20pt 5pt 20pt 30pt;
    font-size: 12pt;
    line-height: 120%;
    font-family: "Calibri", sans-serif;
}

li {
    color: #5B452B;
    margin: 5pt 5pt 10pt 20pt;
    font-size: 12pt;
    line-height: 110%;
    font-family: "Calibri", sans-serif;
}

#recuo {
    color: #5B452B;
    margin: 5pt 5pt 10pt 20pt;
    font-size: 12pt;
    font-family: "Calibri", sans-serif;
}

.logo1 {
    color: #030709;
    margin: 0;
    font-size: 80pt;
    font-family: "Gill Sans Nova", sans-serif;
}

.logo2 {
    color: #030709;
    margin: 0;
    font-size: 48pt;
    font-family: "Gill Sans Nova", sans-serif;
}

.logo3 {
    color: #FF0000;
    margin: 0;
    font-size: 80pt;
    font-family: "Gill Sans Nova", sans-serif;
}

.logo_link {
    color: #000000;
    margin: 0;
    font-size: 20pt;
    font-family: "Gill Sans Nova", sans-serif;
}
