h1{
	color:#C00000;
	margin-top:3rem;
	margin-right:1rem;
	margin-bottom:1rem;
	margin-left:1rem;
	font-size:2rem;
	font-family:"Gill Sans Nova",sans-serif;
	}

p,li{
	color: #385623;				
	margin-top:1rem;
	margin-right:1rem;
	margin-bottom:2rem;
	margin-left:3rem;
	font-size: 12pt;
	line-height:160%;
	font-family:"Calibri",sans-serif;
	}
	
.logo1{
	color: #000000;				
	margin-top:0rem;
	margin-right:0rem;
	margin-bottom:0rem;
	margin-left:0rem;
	font-size: 80.0pt;
	font-family:"Gill Sans Nova",sans-serif;
	}
	
.logo2{
	color: #000000;				
	margin-top:0rem;
	margin-right:0rem;
	margin-bottom:0rem;
	margin-left:0rem;
	font-size: 48.0pt;
	font-family:"Gill Sans Nova",sans-serif;
	}
	
.logo3{
	color: #FF0000;				
	margin-top:0rem;
	margin-right:0rem;
	margin-bottom:0rem;
	margin-left:0rem;
	font-size: 80.0pt;
	font-family:"Gill Sans Nova",sans-serif;
	}	

.logo_link{
	color: #FF0000;				
	margin-top:0rem;
	margin-right:0rem;
	margin-bottom:0rem;
	margin-left:0rem;
	font-size: 20.0pt;
	font-family:"Gill Sans Nova",sans-serif;
	}

#recuo{
	color: #385623;				
	margin-top:1rem;
	margin-right:1rem;
	margin-bottom:1rem;
	margin-left:2rem;
	font-size: 14pt;
	font-family:"Calibri",sans-serif;
	}
			
